<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h2>Author:</h2>
Aman Mohamed Illyas

**Objectives:**
<ul>
    <li>List popular languages That Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>List Data science Tools in tabular format.</li>
    <li>List few examples of evaluating arithmetic expressions in Python.</li>
</ul>

<h5>Some of the popular languages that Data Scientists use are:</h5>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    <li>SQL</li>
    <li>Scala</li>
    <li>Java</li>
    <li>Go</li>
</ol>

<h5>Some of the commonly used libraries used by Data Scientists include:</h5>
<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>PyTorch</li>
    <li>SciKit-Learn</li>
</ol>

|<h5>Data Science Tools</h5>|
|-------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>

This a simple arithmetic expression to multiply then add integers,

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60,

In [5]:
200/60

3.3333333333333335